{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}Profile{% endblock %}


{% block content %}

  <div class="container">
    <h2 class="mt-3">Profile</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="info-box">
          <h3>Personal Information</h3>
          <a class="info-title">Username:</a>
          <input type="text" class="form-control info-content" value="{{user.username}}" readonly>
          <a class=info-title>Firstname: </a>
          <input type="text" class="form-control info-content" value="{{user.first_name}}" readonly>
          <a class=info-title>Lastname: </a>
          <input type="text" class="form-control info-content" value="{{user.last_name}}" readonly>
          <a class=info-title>Company: </a>
          <input type="text" class="form-control info-content" value="{{user.profile.company}}" readonly>
          <a class=info-title>Email: </a>
          <input type="text" class="form-control info-content" value="{{user.email}}" readonly>
          <a class=info-title>Phone Number: </a>
          <input type="text" class="form-control info-content" value="{{user.profile.phone_number}}" readonly>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="info-box">
          <h3>Address</h3>
          <a class="info-title">Country:</a>
          <input type="text" class="form-control info-content" value="{{user.profile.address.country}}" readonly>
          <a class=info-title>State: </a>
          <input type="text" class="form-control info-content" value="{{user.profile.address.state}}" readonly>
          <a class=info-title>City: </a>
          <input type="text" class="form-control info-content" value="{{user.profile.address.city}}" readonly>
          <a class=info-title>Postal Code: </a>
          <input type="text" class="form-control info-content" value="{{user.profile.address.postal_code}}" readonly>
          <a class=info-title>Street Address: </a>
          <input type="text" class="form-control info-content" value="{{user.profile.address.street_address}}" readonly>
        </div>
    </div>
    <div class="col-sm-6">
      <div class="info-box">
        <h3>Categories</h3>
        <ul class="list-group info-content">
          {% for category in user.profile.categories.all %}
            <li class="list-group-item">{{category}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

{% endblock %}