{% extends 'base.html' %}

{% load icons %}
{% load static %}
{% load project_extras %}

{% block title %}Projects{% endblock %}

{% block content %}
  <h2 class="mt-3 text-center" >Open Projects</h2>


  <div class="row">
    <div class="col-lg text-center">

      <div class="text-center d-inline-flex list-group mt-3" id="project-toggle" role="tablist">
        <ul class="pagination">
          {% for project_category in project_categories %}
          <li class="page-item">
            <a
              class="list-group-item list-group-item-action"
              data-toggle="list"
              role="tab"
              id="category-{{project_category}}"
              aria-controls="{{project_category}}"
              href="#{{project_category}}">
                {{project_category}}
            </a>
          </li>
          {% endfor %}

        </ul>
      </div>
      <form method="GET">
        <div class="container">
          <h3 class="mb-3 mt-3">Filter Projects</h3>
          {% if budget_error_message %}
            <div class="alert alert-danger alert-dismissible fade show text-left" role="alert">
              {{ budget_error_message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {%  endif %}
          <div class="row">
            <div class="col-xl-5 filter-project">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Budget</span>
                </div>
                <input type="number" class="form-control" name="budget_lower_bound_input" placeholder="Lower Bound" value="{{budget_lower_bound_default}}">
                <input type="number" class="form-control" name="budget_upper_bound_input" placeholder="Upper Bound" value="{{budget_upper_bound_default}}">
              </div>
            </div>
            <div class="col-xl-5 filter-project">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text fontAwesome">&#xf002;</span>
                </div>
                <input type="text" class="form-control fontAwesome" name="search_string_input" placeholder="Search for Projects" value="{{search_string_default}}">
              </div>
            </div>
            <div class="col-xl-2 filter-project">
              <input class="btn btn-outline-primary filter-button" type="submit" name="filter_button" value="Apply Filter">
            </div>
          </div>
        </div>
      </form>

      <div class="tab-content"  id="nav-tabContent">
        {% for project_category in project_categories %}
          <div class="tab-pane fade show" id="{{project_category}}" role="tabpanel" aria-labelledby="category-{{project_category}}">
            <h3 class="mb-3 mt-5">{{project_category}}</h3>
            <div class="row projects-view">
                {% for project in projects %}
                  {% if project.status == project.OPEN and project.category.id == project_category.id %}
                  <a class="open-project-view-item" href="{% url 'project_view' project_id=project.id%}">
                  <div class="col-md mb-3 ml-3 mr-3 mt-3 project-box-style">
                    <div class="media">
                      <img class="align-self-top mr-3 mt-5 project-image" src="{% static 'img/idea.jpg' %}" alt="Generic placeholder image." />
                      <div class="media-body">
                        <h5 class="mt-3"> {% icon 'tasks' %} {{project.title}}</h5>
                        <p>Posted by: {{project.user.user.username}}</p>
                        <p class="project-description">{{project.description}}</p>
                    </div>
                  </div>
                  </div>
                  </a>
                  {% endif %}
                {% endfor %}

            </div>

          </div>
        {% endfor %}
      </div>

    </div>
  </div>

  <script src="{% static 'js/tab_change.js' %}"></script>
  <script>
  document.getElementsByClassName('list-group-item-action')[0].click();
  setTimeout(function(){
    document.getElementsByClassName('list-group-item-action')[0].click();
  }, 100);
  </script>
{% endblock %}
